[Unit]
Description="Start python script to allow scrolling with mouse hold and drag"

[Service]
Environment=DISPLAY=:0
Environment=XAUTHORITY=/run/user/1000/gdm/Xauthority
ExecStart=/usr/bin/python3 /home/yourusername/ClickDragScroll/ClickDragScroll.py
WorkingDirectory=/home/zach/ClickDragScroll
User=yourusername

[Install]
WantedBy=multi-user.target
